.header{
    height: 80px;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.header a{
    color:white;
    margin-left:30px;
}
.header a:hover{
    color:orange;
}